.dot {
    position: absolute;
    background-color: rgb(250, 250, 250);
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    width: 18px;
    height: 18px;
}

@media (max-width: 1000px) {
    .dot {
        width: 12px;
        height: 12px;
    }
}

@media (max-width: 700px) {
    .dot {
        width: 8px;
        height: 8px;
    }
}

@media (max-width: 370px) {
    .dot {
        width: 6px;
        height: 6px;
    }
}

.dot.dot-one {
    top: 25%;
    left: 25%;
}

.dot.dot-two {
    top: 25%;
    left: 50%;
}

.dot.dot-three {
    top: 25%;
    left: 75%;
}

.dot.dot-four {
    top: 50%;
    left: 25%;
}

.dot.dot-five {
    top: 50%;
    left: 50%;
}

.dot.dot-six {
    top: 50%;
    left: 75%;
}

.dot.dot-seven {
    top: 75%;
    left: 25%;
}

.dot.dot-eight {
    top: 75%;
    left: 50%;
}

.dot.dot-nine {
    top: 75%;
    left: 75%;
}


