@import url(https://fonts.googleapis.com/css?family=Lato:300,400);

body {
    background: rgb(250, 250, 250);
    color: rgb(40, 40, 60);
    font-family: 'Lato', sans-serif;
    text-align: center;
}

/* Tablets & Desktops */

.window-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.clock-display {
    width: 650px;
    margin-top: -40px;
}

.time-unit-container {
    padding: 0 25px;
}

.binary-digit-container {
    position: relative;
    padding-top: 80px;
}

.binary-digit-square {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 53px;
    height: 53px;
    background-color: rgb(40, 40, 60);
}

.binary-digit-square.digit-none {
    visibility: hidden;
}

.binary-digit-square.digit-0 {
    background-color: rgb(214, 214, 226);
}

.binary-digit-square.digit-1 {
    background-color: rgb(40, 40, 60);
}

.binary-digit-number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: white;
}

.title {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.credit {
    font-size: 12px;
    letter-spacing: 1.2px;
    text-transform: lowercase;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

/* Mobile */
@media (max-width: 700px) {
    .clock-display {
        width: 360px;
    }

    .time-unit-container {
        padding: 0 15px;
    }

    .binary-digit-container {
        padding-top: 44px;
    }

    .binary-digit-square {
        width: 34px;
        height: 34px;
    }
}

/* Extra small screens */ 
@media (max-width: 370px) {
    .clock-display {
        width: 300px;
    }

    .time-unit-container {
        padding: 0 12px;
    }

    .binary-digit-container {
        padding-top: 37px;
    }

    .binary-digit-square {
        width: 28px;
        height: 28px;
    }
}
