body {
    background: rgb(250, 250, 250);
    color: rgb(50, 50, 50);
    font: Garamond;
    text-align: center;
}

/* Tablets & Desktops */

.window-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.clock-display {
    width: 650px;
    margin-top: -20px;
}

.time-unit-container {
    padding: 0 25px;
}

.binary-digit-container {
    position: relative;
    padding-top: 80px;
}

.binary-digit-square {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 53px;
    height: 53px;
    background-color: rgb(40, 40, 60);
}

.binary-digit-square.digit-none {
    visibility: hidden;
}

.binary-digit-square.digit-0 {
    background-color: rgb(214, 214, 226);
}

.binary-digit-square.digit-1 {
    background-color: rgb(40, 40, 60);
}

.binary-digit-number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: white;
}

/* Mobile */
@media (max-width: 700px) {
    
}